.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.modal-progress {
    margin-top: 20px;
    width: 100%;
}
/* Style for the progress bar */
.progress {
    width: 100%;
    height: 20px;
    background-color: lightgray;
    border-radius: 10px;
    overflow: hidden;
}
.progress-bar {
    height: 100%;
    background-color: green;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}
.my_btn {
    background-color: rgb(255,194,0);
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border: none;
    transition: all 0.2s ease-in-out;
  }
  .my_btn:hover {
    background-color: #0069d9;
    box-shadow: 0 0.125rem 0.5rem rgba(20, 19, 19, 0.3);
  }
  /* css for skills section */
  /* Custom styles for the skills section */
/* Custom styles for the skills section */
#skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .skill-item {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(13, 12, 12, 0.227);
    text-align: center;
    margin: 10px;
    width: 200px;
    transition: transform 0.3s ease-in-out;
  }
  
  .skill-item:hover {
    transform: scale(1.05);
  }
  
  .skill-item i {
    font-size: 36px;
    color: #007bff; /* Replace with your desired icon color */
    margin-bottom: 10px;
  }

  /* Custom styles for the platforms section */
/* .platforms {
    background-color: #f8f9fa;
    padding: 50px 0;
  }
   */
  .platforms-item {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(41, 37, 37, 0.3);
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .platforms-item:hover {
    transform: scale(1.05);
    /* box-shadow: 0 2px 5px rgba(2, 2, 2, 0.3); */
  }
  
  /* Example CSS for animated project section */
.projects .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .projects .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(15, 14, 14, 0.1);
  }
  
  .projects .card-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .projects .card-text {
    font-size: 14px;
    color: #555;
  }
  
  .projects .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
    
    .dark-mode .card:hover .card-title {
      color: #ffc200 !important;
  
    }
    .dark-mode .card ,.dark-mode .skill-item ,.dark-mode .platforms-item,.dark-mode  .coding-platform-item{
      background-color:#0c0c0d;
      box-shadow: 0 4px 8px rgba(254, 254, 254, 0.1) !important;
    }
    .dark-mode .skill-item:hover h3 ,.dark-mode .platforms-item:hover h3, .dark-mode .coding-platform-item:hover h3{
      color: #ffc200 !important;
    }
  /* css for coding platforms sections */
  .coding-platforms-section {
    text-align: center;
    padding: 80px 0;
  }
  
  .coding-platforms-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .coding-platform-item {
    margin: 20px;
    padding: 30px;
    width: 250px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .coding-platform-item img {
    width: 100px;
    height: 100px;
  }
  
  .coding-platform-item h3 {
    margin-top: 20px;
    font-size: 24px;
  }
  
  .coding-platform-item p {
    margin-top: 10px;
  }
  
  /* Add animation on hover */
  .coding-platform-item:hover {
    transform: translateY(-5px);
  }
  
  /* Additional animations */
  .coding-platforms-section h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
    animation: fadeInDown 1s;
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  /* CSS for the achievements section */

.acheivements {
  text-align: center;
  padding: 40px 0;
}

.acheivements h2 {
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #0c0c0d;
}

.acheivements-list {
  list-style: none;
  padding: 0;
}

.acheivements-list li {
  font-size: 18px;
  line-height: 2;
  color: #484848;
}

.acheivements-list .icon {
  font-size: 24px;
  margin-right: 10px;
  color: #ffc200;
}

/* Add cool animations to the list items */

.acheivements-list li {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-in-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
